<div class="container">
<h1 class="text-center">New payment</h1>

<%= render "form", payment: @payment %>

<br>

<div>
  <%= link_to "Back to payments", categories_path, class: "btn btn-primary" %>
</div>
</div>
