body {
    background-color: hsl(0, 0%, 95%);
}

.session-btn {
    display: block;
    width: 80vw;
    background-color: #3778c2;
    border: none;
    text-align: center;
}


.register-btn {
    display: block;
    width: 80vw;
    background-color: none;
    border: none;
    text-align: center;
}
