body {
  background-color: hsl(0, 0%, 95%);
}

/* splash screen page */
.session-btn {
  display: block;
  width: 80vw;
  background-color: #3778c2;
  border: none;
  text-align: center;
}

.register-btn {
  display: block;
  width: 80vw;
  border: none;
  text-align: center;
}

/* navbars */
.top-nav {
  background-color: #3778c2;
  top: 0;
  position: sticky;
}

.new-category {
  width: 100vw;
  border: none;
  position: fixed;
  bottom: 0;
  height: 2.5rem;
  background-color: #4fbf5e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  max-height: 10rem;
  max-width: 10rem;
}

.home-div {
  margin-bottom: 4.5rem;
}
